[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AniketKhedekar
[access "refs/for/refs/*"]
	read = group user/AniketKhedekar
	push = group user/AniketKhedekar
	label-Code-Review = -2..+2 group user/AniketKhedekar
	label-Verified = -1..+1 group user/AniketKhedekar
	rebase = group user/AniketKhedekar
	removeReviewer = group user/AniketKhedekar
	submit = group user/AniketKhedekar
[access "refs/heads/*"]
	read = group user/AniketKhedekar
	create = group user/AniketKhedekar
	push = +force group user/AniketKhedekar
	pushMerge = group user/AniketKhedekar
[access "refs/tags/*"]
	push = group user/AniketKhedekar
	push = +force group user/AniketKhedekar
